*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
build/*.jar
build/apache-maven*
build/scala*
build/zinc*
cache
dist/
!network-shuffle/src/main/java/org/apache/spark/network/shuffle/cache
!network-shuffle/src/test/java/org/apache/spark/network/shuffle/cache
checkpoint
dependency-reduced-pom.xml
derby.log
log/
logs/
out/
tmp/
*.tar.gz
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/build.properties
project/plugins/src_managed/
project/plugins/target/
scalastyle-on-compile.generated.xml
scalastyle-output.xml
scalastyle.txt
spark-*-bin-*.tgz
spark-tests.log
src_managed/
streaming-tests.log
target/
unit-tests.log
work/
docs/.jekyll-metadata
*.crc


.Rproj.user
*/*/target/
*/*/target
*/*/*/*.bat
sql/hive-thriftserver/target/
dependency-reduced-pom.xml
*/dependency-reduced-pom.xml
*/*/dependency-reduced-pom.xml
*/*/*/dependency-reduced-pom.xml
*/RELEASE
sql/catalyst/src/main/java/org/apache/spark/sql/catalyst/parser/

dev/testenv/_data
dev/testenv/_logs
dev/testenv/_software
